@import './Colors.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    $primary-blue,
    $primary-green,
    $primary-purple
  );

  .login-box {
    width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

    h2 {
      color: $primary-blue;
      margin-bottom: 20px;
    }

    .input-group {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      text-align: left;

      label {
        font-weight: bold;
        color: $text-color;
      }

      input {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .login-button {
      width: 100%;
      padding: 10px;
      background: $primary-purple;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: $button-hover;
      }
    }

    .forgot-link {
      margin-top: 10px;
      display: block;
      color: $primary-green;
      text-decoration: none;
    }
  }
}
